<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Loja de garrafas</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1>As garrafas</h1>
  </header>
  <main>
    {{{body}}}
  </main>
</body>
</html>
